@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Manrope:wght@200..800&family=Pacifico&family=Righteous&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #5044e5;
}

@media (min-width: 640px) {
  * {
    cursor: none;
  }
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
    -webkit-text-fill-color: #000000 !important;
    caret-color: #000000 !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }

  .dark input:-webkit-autofill,
  .dark input:-webkit-autofill:hover, 
  .dark input:-webkit-autofill:focus, 
  .dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #000000 inset !important; 
    -webkit-text-fill-color: #ffffff !important;
    caret-color: #ffffff !important;
    color-scheme: dark !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }
}